/* color palette:
#6c757d light gray;
 #343a40 dark gray;
 #17a2b8 teel;*/

body {
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    font-family: 'Bentham', serif;
}

#navBar {
    background-color: #24272a;
    border-bottom: 2px solid #17a2b8;
    height: 100px;
    font-family: 'Bentham', serif;
    letter-spacing: 1.8px;
    
    color: #17a2b8;
}
#navTitle {
    font-size: 60px;
    margin-left: 25px;
    letter-spacing: 1.8px;
    padding-top: 35px;
}
#leftVerticalLine {
    height: 1000px;
    width: 250px;
    border-right: 2px solid #17a2b8;
    float: left;

}
#rightVerticalLine {
    margin-left: 70%;
    height: 1000px;
    width: 450px;
    border-left: 2px solid #17a2b8;

}
#sideMenuBttn {
    background-color: #24272a;
    width: 200px;
    height: 50px;
    margin: 50px auto auto 20px;
    border: 1px solid #17a2b8;
    border-radius: 10px;
    color: #17a2b8;
    font-weight: bold;
    letter-spacing: 1.8px;
}
#sideMenuBttn:hover, #messageSubmitBttn:hover{
    background-color: #17a2b8;
    color: white;
    box-shadow: 0 0 10px #17a2b8;
}
#messageBox {
    margin-left: 50px;
    letter-spacing: 1.8px;
    color: #17a2b8;
}
#message {
   width: 150px;
    margin: 20px auto auto 40px;
    letter-spacing: 1.8px;
}
#messageTitle {
    color: #17a2b8;
    letter-spacing: 1.8px;
}
#messageSubmitBttn {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    background-color: #24272a;
    border: 1px solid #17a2b8;
    border-radius: 10px;
    color: #17a2b8;
    font-weight: bold;
    letter-spacing: 1.8px;
}
#bioContainer {
    background-color: #24272a;
    width: 700px;
    position: absolute;
    left: 20%;
    margin-top: 45px;
    padding: 20px;
    color: white;
    letter-spacing: 1.8px;
    line-height: 35px;
    border: 1px solid #17a2b8;
    font-size: 20px;
}
#bioTitle {
    font-size: 30px;
}
#profileImg {
    width: 100px;
    height: 100px;
}
.mainFooter {
    background-color: #24272a;
    height: 125px;
    border-top: 2px solid #17a2b8;
    color: white;
    padding: 20px;
}
/* project table */
#portfolioTable {
    background-color: #24272a;
    width: 700px;
    position: absolute;
    left: 20%;
    margin-top: 45px;
    padding: 20px;
    color: white;
    letter-spacing: 1.8px;
    line-height: 35px;
    border: 1px solid #17a2b8;
    font-size: 20px;
  }
#projectImg {
    width: 150px;
    height: 150px;
}
.media {
    margin-top: 20px;
}